<!DOCTYPE html>
<html ng-app="store">
  <head>
    <meta charset="utf-8">
    <title>Angular App</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="app.css"/>
  </head>
  <!-- controller to show all the products -->
  <body ng-controller="StoreController as store">
    <div class="row well" ng-repeat="product in store.products">
      <div>
        <h1> {{ product.name }}</h1>
        <h2 class="lead"> {{ product.price | currency }}</h2>
        <h3> {{ product.description }}</h3>
      </div>
      <!-- show product reviews -->
      <div class="panel" ng-repeat="review in product.reviews">
        <strong> {{ review.stars}} Stars</strong>
        <p> {{ review.body}} by {{ review.author}} on {{ review.createdOn | date:'short'}}</p>
      </div>
      <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
        <!-- live preview    -->
        <blockquote>
          <strong> {{ reviewCtrl.review.stars }} Stars</strong>
          {{ reviewCtrl.review.body }}
          <cite class="clearfix">- {{ reviewCtrl.review.author }} </cite>
        </blockquote>
        <h4 class="lead">Submit a Review</h4>
        <fieldset class="form-group">
          <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" required>
            <option value=" ">Rate the Product</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review" title="Review" required></textarea>
        <fieldset>
        <fieldset class="form-group">
          <input type="email" ng-model="reviewCtrl.review.author" class="form-control" placeholder="enter your email address" title="Email" required/>
        <fieldset>
        <fieldset class="form-group">
          <div> reviewForm is {{ reviewForm.$valid }} </div>
          <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
        <fieldset>
      </form>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  </body>
</html>
